# Maven
target/
*.log

# IDEs e configs locais
.vscode/
.idea/
*.iml

# Drivers, builds e perfis temporários
chromedriver.exe
geckodriver.exe
tempProfile_*/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de cache
*.class
*.tmp
